img {
width: 300px;
height: 200px;
justify-content: space-between;
}
body {
font-family: sans-serif;
}
.header {
    background-color: aquamarine;
    text-align:center;
}
.footer {
background-color:rgb(85, 198, 104);
text-align:center;
}
.shirt-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shirt-card{
    border: 2px solid black;
    margin:10px;
    border-style:double;
}
.truth{
    text-align: center;
    background-color:aqua;
}
.shrug{
    text-align: center;
}